@font-face {
	font-family: "Montserrat";
	src: url("assets/fonts/Montserrat_regular.ttf") format("truetype");

	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url(assets/fonts/Montserrat_bold.ttf) format("truetype");

	font-style: normal;
	font-weight: bold;
}

:root {
	/*ЦВЕТА*/
	--background: #1e1e1e;
	--layout-background: var(--layout-background);
}

/* СБРОС СТИЛЕЙ */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;

	font-family: "Montserrat", "Segoe UI", sans-serif;
}

li {
	list-style-type: none;
}

body{
  background-color: var(--background);
  position: relative;
	height: 100%;
	overflow: hidden
}

.bottom-and-cards{
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-radius: 20px 20px 0 0;
  background-color: #232323;
  display: flex;
  flex-direction: column;
	overflow: hidden;
}

.svg {
  fill: #797979;
  stroke: #797979;
  transition: all 0.25s ease-in-out;
}

.arrow{
  background-color: var(--layout-background);
  border-radius: 15px 15px 0 0;
  border-style: none;
  padding: 3px 0 2px;
}

.arrow svg{
  fill: #BDBDBD;
  stroke: #BDBDBD;
}

.buttons{
  display: flex;
  gap: 5px;
  padding: 0 10px 0 10px;
  margin: 10px 0 10px;
}

.buttons button{
  min-width: 122px;
  min-height: 42px;
  border-radius: 10px;
  background-color: var(--layout-background);
  color: #EAEAEA;
}

 .button-blue{
	 border: 2px solid #5F6DEC;
 }

.button-yellow{
	border: 2px solid #EE9E44;
}

.button-purple{
	border: 2px solid #A85FEC;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  box-sizing: border-box;
  width: 140px;
  height: 60px;
  background-color: #797979;
  border: 1px solid #797979;
  border-radius: 10px;
  padding: 21px;
  color: white;
}

.inputs ::placeholder{
  color: white;
}




/*Смартфоны  */
@media screen and (min-width: 320px){
  .bottom-and-cards{
    width: 100%;
    height: 210px;
  }
}

/* Планшеты */
@media screen and (min-width: 768px){
    
}

/* Большие устройства и нетбуки */
@media screen and (min-width: 960px){
    
}

/* мониторы > 1280px */
@media screen and (min-width: 1280px) {
    
}

/*---------------plans---------------------*/
button {
	border: none;
	display: inline-block;
	background: transparent none;
	cursor: pointer;
	box-shadow: none;
}


.plan-and-scale {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.scale-buttons {
	position: fixed;
	top: 120px;
	right: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	height: 94px;
}

.scale-button {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	background-color: #2E2E2E;
}

.floors-buttons {
	position: fixed;
	top: 120px;
	left: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	height: 256px;
}

.floor-button {
	font-size: 20px;
	font-weight: 700;
	color: #EAEAEA;
	background-color: #2E2E2E;
	width: 40px;
	height: 40px;
	border-radius: 6px;
}

.plan {
	transition: all .3s ease-out;
}



























