/* Используемые цвета *
#5F6DEC
#40C5C5
#EE9E44
#9CBBFF
#EC5F6B
#797979
#A85FEC
#2E2E2E
#3A3A3A
#BDBDBD
#232323
#6290E4
#F67B86
#FFFFFF
#F6F6F6
#E7E7E7
/

@font-face {
	font-family: "Montserrat";
	src: url("assets/fonts/Montserrat_regular.ttf") format("truetype");

	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url(assets/fonts/Montserrat_bold.ttf) format("truetype");

	font-style: normal;
	font-weight: bold;
}

/*@font-face {*/
/*	font-family: "Montserrat";*/
/*	src: url(assets/fonts/Montserrat_medium.ttf) format("truetype");*/

/*	font-style: normal;*/
/*	font-weight: lighter;*/
/*}*/
@font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat_medium.ttf) format("truetype");

    font-style: normal;
    font-weight: lighter;
}

body{
  background-color: #2E2E2E;
  position: relative;
}

.bottom-and-cards{
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-radius: 20px 20px 0 0;
  background-color: #232323;
  display: flex;
  flex-direction: column;
}

.svg {
  fill: #797979;
  stroke: #797979;
  transition: all 0.25s ease-in-out;
}

.arrow{
  background-color: #232323;
  border-radius: 15px 15px 0 0;
  border-style: none;
  padding: 3px 0 2px;
}

.arrow svg{
  fill: #BDBDBD;
  stroke: #BDBDBD;
}

.buttons{
  display: flex;
  gap: 5px;
  padding: 0 10px 0 10px;
  margin: 10px 0 10px;
}

.buttons button{
  min-width: 122px;
  min-height: 42px;
  border-radius: 10px;
  background-color: #232323;
  color: #EAEAEA;
}

 .button-blue{
  border: 2px solid;
  font-family: "Montserrat";
  border-color: #5F6DEC;
}

.button-yellow{
  border: 2px solid;
  font-family: "Montserrat";
  border-color: #EE9E44;
}

.button-purple{
  border: 2px solid;
  font-family: "Montserrat";
  border-color: #A85FEC;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  font-family: "Montserrat";
  box-sizing: border-box;
  width: 140px;
  height: 60px;
  background-color: #797979;
  border-style: none;
  border: 0.5px solid #797979;
  border-radius: 10px;
  padding: 21px;
  color: white;
}

.inputs ::placeholder{
  color: white;
}


/* Reset */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;

	font-family: "Montserrat", "Segoe UI", sans-serif;
}

li {
	list-style-type: none;
}

/*Смартфоны */
@media screen and (min-width: 320px){
  .bottom-and-cards{
    width: 320px;
    height: 210px;
  }
}

/* Планшеты */
@media screen and (min-width: 768px){
    
}

/* Большие устройства и нетбуки */
@media screen and (min-width: 960px){
    
}

/* мониторы > 1280px */
@media screen and (min-width: 1280px) {
    
}

/*---------------plans---------------------*/
button {
	border: none;
	display: inline-block;
	background-color: transparent;
	background: none;
	cursor: pointer;
	box-shadow: none;
}


.plan-and-scale {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.scale-buttons {
	position: fixed;
	top: 120px;
	right: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	height: 94px;
}

.scale-button {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	background-color: #2E2E2E;
}

.floors-buttons {
	position: fixed;
	top: 120px;
	left: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	height: 256px;
}

.floor-button {
	font-size: 20px;
	font-weight: 700;
	color: #EAEAEA;
	background-color: #2E2E2E;
	width: 40px;
	height: 40px;
	border-radius: 6px;
}

.plan {
	transition: all .3s ease-out;
}



























