/* Используемые цвета *
#5F6DEC
#40C5C5
#EE9E44
#9CBBFF
#EC5F6B
#797979
#A85FEC
#2E2E2E
#3A3A3A
#BDBDBD
#232323
#6290E4
#F67B86
#FFFFFF
#F6F6F6
#E7E7E7
/


/* шрифты */
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat_regular.ttf") format("truetype");
    
    font-style:normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat_bold.ttf) format("truetype");

    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat_medium.ttf) format("truetype");

    font-style: normal;
    font-weight: lighter;
}

/* Reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #1e1e1e;
  }
  li{
    list-style-type: none;
  }

/*Смартфоны */
@media screen and (min-width: 320px){
    
}

/* Планшеты */
@media screen and (min-width: 768px){
    
}

/* Большие устройства и нетбуки */
@media screen and (min-width: 960px){
    
}

/* мониторы > 1280px */
@media screen and (min-width: 1280px) {
    
}

/*---------------plan---------------------*/
button {
  display: inline-block;
  background-color: transparent;
  background: none;
  cursor: pointer;
  box-shadow: none;
}

.plan-and-scale {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.scale-buttons {
  position: fixed;
  top: 120px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
  height: 94px;
}

.scale-button{
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #2E2E2E;
}

.floors-buttons {
  position: fixed;
  top: 120px;
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
  height: 256px;
}

.floor-button {
  font-size: 20px;
  font-weight: 700;
  color: #EAEAEA;
  background-color: #2E2E2E ;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
